<div class="task">
    <h3>{{user.userName}}
        <div>
            <fa-icon [icon]="faLaptopHouse" (click)="getDevices()" [ngStyle]="{'color':'black'}"></fa-icon>
            <fa-icon [icon]="faEdit" (click)="onEdit()" [ngStyle]="{'color':'black'}"></fa-icon>
            <fa-icon [icon]="faTimes" (click)="onDelete()" [ngStyle]="{'color':'red'}"></fa-icon>
            
        </div>
        
    </h3>
    <p>{{user.name}}</p>
    <p>{{user.bdate ? user.bdate.split('T')[0] : ""}}</p>
    <p>{{user.address}}</p>

</div>

<div [ngClass]="{ hideForm : hideForm }" class="userForm">
    
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="userName">Username</label>
            <input [(ngModel)]="user.userName" type="text" name="userName" id="userName">
        </div>
    
        <input class="btn btn-block" type="submit" value="Update client info">
    </form>

</div>

