<div class="task">
    <h3>{{device.deviceName}}
        <div>
            <fa-icon [icon]="faEdit" (click)="onEdit()" [ngStyle]="{'color':'black'}"></fa-icon>
            <fa-icon [icon]="faTimes" (click)="onDelete()" [ngStyle]="{'color':'red'}"></fa-icon>
        </div>
        
    </h3>
    <p>Location : {{device.location}}</p>
    <p>Max En. Cons. : {{device.maxEnCons}}</p>
    <!-- <p>Avg En. Cons. : {{device.avgEnCons}}</p> -->
    <p>Sensor Description : {{device.sensorDescription}}</p>
    <p>Sensor Max. Val. : {{device.sensorMaxVal}}</p>

</div>

<div [ngClass]="{ hideForm : hideForm }" class="deviceForm">
    
    <form class="add-form" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="deviceName">Device Name</label>
            <input [(ngModel)]="device.deviceName" type="text" name="deviceName" id="deviceName">
        </div>

        <div class="form-control">
            <label for="location">Location</label>
            <input [(ngModel)]="device.location" type="text" name="location" id="location">
        </div>

        <div class="form-control">
            <label for="maxEnCons">Max En. Cons.</label>
            <input [(ngModel)]="device.maxEnCons" type="text" name="maxEnCons" id="maxEnCons">
        </div>

        <div class="form-control">
            <label for="sensorDescription">Sensor Description</label>
            <input [(ngModel)]="device.sensorDescription" type="text" name="sensorDescription" id="sensorDescription">
        </div>
    
        <div class="form-control">
            <label for="sensorMaxVal">Sensor Max. Val.</label>
            <input [(ngModel)]="device.sensorMaxVal" type="text" name="sensorMaxVal" id="sensorMaxVal">
        </div>
    
        <input class="btn btn-block" type="submit" value="Update device info">
    </form>

    <div *ngIf="message?.length != 0" class="form-message">
        {{message}}
    </div>
</div>

