
<app-client-item *ngFor="let user of users"
    [user]="user"
    (onDeleteUser)="deleteUser($event)"
    (onEditUser)="editUser($event)">
</app-client-item>

<p class="error-message" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>

