
<h2>Welcome <b><span>{{user.name}}</span></b></h2>
<div class="userDetails">

    <p>Usename: {{user.userName}}</p>
    <p>Name: {{user.name}}</p>
    <p>Address: {{user.address}}</p>
    <p>Age: {{user.bdate | calculateAge}} </p>
</div>



<mat-form-field appearance="fill">
  <mat-label>{{stringSelectedDevices}}</mat-label>
  <mat-select [(ngModel)]="selectedDevice"  (selectionChange)="onSelect($event)">
    <mat-option *ngFor="let device of devices" [value]="device.deviceId">
      {{device.deviceName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Choose date</mat-label>
    <input matInput [matDatepicker]="picker1" [formControl]="date" (dateChange)="getDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
  


<app-chart></app-chart>

<app-popup></app-popup>