
<form class="add-form" (ngSubmit)="addDevice()">
    <h3>Add a device</h3>
    <div class="form-control">

        <input [(ngModel)]="newDevice.deviceName" type="text" name="deviceName" id="deviceName" placeholder="Device Name">
    </div>

    <div class="form-control">
        <input [(ngModel)]="newDevice.location" type="text" name="location" id="location" placeholder="Location">
    </div>

    <div class="form-control">
        <input [(ngModel)]="newDevice.maxEnCons" type="text" name="maxEnCons" id="maxEnCons" placeholder="Max En. Cons.">
    </div>

    <div class="form-control">
        <input [(ngModel)]="newDevice.sensorDescription" type="text" name="sensorDescription" id="sensorDescription" placeholder="Sensor Description">
    </div>

    <div class="form-control">
        <input [(ngModel)]="newDevice.sensorMaxVal" type="text" name="sensorMaxVal" id="sensorMaxVal" placeholder="Sensor Max. Val.">
    </div>

    <input class="btn btn-block" type="submit" value="Add device">

    <div *ngIf="message?.length != 0" class="form-message">
        {{message}}
    </div>
    
</form>

<br>
<br>
<h3>List of devices:</h3>
<app-device-item *ngFor="let device of devices"
    [device]="device"
    (onDeleteDevice)="deleteDevice($event)"
    (onEditDevice)="editDevice($event)">
</app-device-item>
